I'm sorry, <% isbn %> is  not a valid ISBN. Feel free to check another number <br>
<br>
examples of valid ISBNs: 10 digit 0471958697, 13 digit 9780470059029

<form method = "post" action ="isbn">
	<input type = "text" autofocus = "autofocus" name = "user_isbn">
	<input type = "submit">
</form>