<%= isbn %> is a valid ISBN feel free to check another <br>
<br>
example of a 10 digit isbn  0471958697, 13 digit  9780470059029

<form method="post" action ="isbn">
	<input type = "text" autofocus="autofocus" name = "user_isbn">
	<input type = "submit">
</form>
